
input {
  width: 100px;
  height: 20px;
  border: black;
border-block-style: bolder;
  border-radius: 15px;;
  background-color: wheat;
  font-size: 14px;
  color: #3D2314;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.search{
  display: flex;
  justify-content: left;
  padding: 10px 0px 0px 800px;
  color: wheat;
  font-family: fantasy;
  font-size: 20px;
}
.chartClass{
  padding: 20px 800px 20px 20px;
 
}
/* h1{
  text-align: center;
  font-size: 50px;
  font-family: Ma Shan Zheng;
  margin-left: auto;
  margin-right: auto;
  color: black;
} */

.rightStock{
  display: flex;;
  flex-wrap: wrap;
  flex-direction: row;
  color: black;
  margin: 10px;
  padding: 10px;
  text-align: center;
  justify-content: space-evenly;
  letter-spacing: 5s;
}
.rightStock:hover{
  transition: 1s;
}
  .lefttStock{
 text-align: right;
 margin: 20px;
 color:  black;
 font-size: 14px;
  }
.headerStyle {
  display: flex;
  justify-content: center;
    width:300px;
    height:200px;
    margin-left: auto;
    margin-right: auto;
}
nav, main{
  text-align: right;
}
.dateClass{
  display: flex;
  justify-content: left;
}
p{
  text-align: right;
  padding: 0px 20px 0px 0px;
  font-size: 20px;
  color: wheat;
  font-family: cursive;
}
/* .ManageHeader{
  display: flex;
  flex-wrap: wrap;
 justify-content: center;
} */
.Footer{
  height:30px;
  padding:0px;
  text-align: right;
  font-size: 12px;
  font-style: bolder;
  color: antiquewhite;
  background-color: #333333;
}
.imgStyle{
  width: 800px;
  height: 500px;
  
}
body{
  width:100%;
  /* background-image: url("https://i.imgur.com/37btira.jpg"); */
}


.ManageChart{
  display: flex;;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px;
  height:500px;
  background-image: url("https://i.imgur.com/Ebx1fBN.jpg");

}
