
input {
  width: 100px;
  height: 20px;
  border: black;
  border-style: solid;
  background-color:white;
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.search{
  display: flex;
  justify-content: left;
  /* padding: 10px 0px 0px 800px; */
  color: #ffc2fe;
  font-family: fantasy;
  font-size: 20px;
}
.chartClass{
  padding: 0px 800px 20px 20px;
 
}
a{
  font-family: cursive;
  font-size: 18px;
 text-align: left;
}

.rightStock{
  display: flex;;
  flex-wrap: wrap;
  flex-direction: row;
  color: black;
  margin: 10px;
  padding: 10px;
  text-align: center;
  justify-content: space-evenly;
  letter-spacing: 5s;
}
.rightStock:hover{
  transition: 1s;
}
  .lefttStock{
 text-align: right;
 margin: 20px;
 color:  black;
 font-size: 14px;
  }
.headerStyle {
  display: flex;
  justify-content: center;
    width:300px;
    height:150px;
    margin-left: auto;
    margin-right: auto;
}
nav, main{
  text-align: right;
}
.dateClass{
  display: flex;
  justify-content: left;
}
p{
  text-align: right;
  padding: 0px 20px 0px 0px;
  font-size: 20px;
  color:  #8f0007;
  font-family: cursive;
}
/* .ManageHeader{
  display: flex;
  flex-wrap: wrap;
 justify-content: center;
} */
.Footer{
  height:30px;
  padding:0px;
  text-align: right;
  font-size: 12px;
  font-style: bolder;
  color: antiquewhite;
  background-color:  #3D2314;
}
.imgStyle{
  width: 800px;
  height: 300px;
  
}
body{
  width:80%;
  margin-left: auto;
  margin-right: auto;
  /* background-image: url("https://i.imgur.com/37btira.jpg"); */
}
html {
  margin: 0px;
  height: 100%;
  width: 100%;
  
}

.ManageChart{
  display: flex;;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px;
  height:450px;
  background-image: url("https://i.imgur.com/Ebx1fBN.jpg");

}
